name: JavaScript Security Audit

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  audit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Rails
        uses: ./.github/actions/setup-rails

      - name: Audit JavaScript dependencies
        run: bin/importmap audit
