name: Rubocop Linting

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Rails
        uses: ./.github/actions/setup-rails

      - name: Run Rubocop linter
        run: bin/rubocop -f github
